<div>
    <h1>Burgers App</h1>
    <hr>
    <h4>Not Added</h4>
    {{#each burgers}}
    <div>
        {{#unless devoured}}

        <p>
            {{burger_name}}
        </p>
        <button data-id={{this.id}} class='done'>Update</button>

        <hr>

        {{/unless}}

    </div>
    {{/each}}
    <hr>
    <h4>Added</h4>
    {{#each burgers}}
    <div>


        {{#if devoured}}
        <p>
            {{burger_name}}
        </p>

        <button data-id={{this.id}} class='delete'>Delete</button>
        <hr>

        {{/if}}


    </div>
    {{/each}}
</div>
